<!DOCTYPE html>
<html>
  <head>
    <title>BbqRails6Bs5</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render '/partials/nav' %>

    <% flash.each do |type, msg| %>
      <% if type = notice%>
      <div class="alert alert-info d-flex align-items-center">
      <%= msg %>
      </div>
      <% else %>
      <div class="alert alert-danger d-flex align-items-center">
      <%= msg %>
      </div>
      <%end %>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
